<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javawxid.mapper.UserInfoMapper">
    <delete id="deleteById">
        DELETE  from user_info WHERE id=#{id}
    </delete>
    <update id="updateById" parameterType="com.javawxid.bean.UserInfo">
        UPDATE user_info SET login_name=#{loginName},nick_name=#{nickName},
        passwd=#{passwd},name=#{name},phone_num=#{phoneNum},email=#{email},
        head_img=#{headImg},user_level=#{userLevel}
    </update>
</mapper>